<nav>
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('test') }}">Test</a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('logout') }}">Logout</a></li>
            <li><a href="{{ path('serie_add') }}">Add a serie</a></li>
        {% else %}
            <li><a href="{{ path('login') }}">Login</a></li>
            <li><a href="{{ path('register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>